#avatarChoice > label > img {
  max-height: 50px;
}

#register-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
  color: red;
}

.avatar-needs {
  border-radius: 50px;
  padding: 3px;
  background-color: lightgrey;
  margin: 0 10px;
}

#login-submitter {
  background-color: #051275 !important;
}
