.post-form {
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

.input-number {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.outer-input-number {
  display: flex !important;
  flex-flow: column !important;
  align-items: center !important; 
}

.input-number {
  display: flex;
  flex-flow: column;
  align-items: center;
}
