.gridcol1, .gridcol2, .gridcol3, .gridcol4 {
  color: #051275;
}

.gridcol1 {
  grid-column: 1;
  text-align: center;
  vertical-align: center;
}
.gridcol2 {
  grid-column: 2;
  text-align: center
}
.gridcol3 {
  grid-column: 3;
  text-align: center;
}
.gridcol4 {
  grid-column: 4;
  text-align: center;
  align-self: center;
}
.maincard {
  display: grid;
  grid-template-columns: 10% 40% 30% 20%;
  background-color: #fffef2;
  margin: .25rem;
}
