.gridcol1, .gridcol2, .gridcol3, .gridcol4 {
  color: #051275;
}

.gridcol1 {
  grid-column: 1;
  text-align: center;
  vertical-align: center;
}
.gridcol2 {
  grid-column: 2;
  text-align: center
}
.gridcol3 {
  grid-column: 3;
  text-align: center;
}
.gridcol4 {
  grid-column: 4;
  text-align: center;
  align-self: center;
}
.maincard {
  display: grid;
  grid-template-columns: 10% 40% 30% 20%;
  background-color: #fffef2;
  margin: .25rem;
}

.ant-btn-primary {
  border: 2px solid black !important;
  background-color: #051275 !important;
  color: #fffef2 !important;
  text-align: center !important;
  padding: 0 .2rem 0 .2rem;
}

.maincard > p {
  color: #14007a;
}

.cardHeaders {
  background-color: transparent !important;
  border-top: 1px solid white;
  border-radius: 0;
  padding-left: 10px
}

.cardHeaders > p {
  font-size: 1rem;
  color: white;
  font-style: italic !important;
}

#modalator {
  color: black;
}
