.hidden {
  display: none !important
}

.place-bets-box {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 30px;
}

#post-button {
  width: 200px;
  height:80px;
  font-size: 1.75rem;
}
