@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700');

body {
  font-family: "Ubuntu", sans-serif !important;
  min-height: 80vh;
}

.maincard, .cardHeaders {
  border: 1px solid #000000;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
}

.betcard {
  margin: 4px 10px;
  border: 1px solid white;
  border-radius: 20px;
}
